REDIS_HOST=
REDIS_PORT=
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_DEFAULT_VHOST=/
RABBITMQ_QUEUE_NAME=

SERVER_NAME=""
FRONTEND_URL=""
NGINX_SSL_CN=""

ApiGateway_SECRET_KEY=""
ApiGateway_DEBUG=

GameService_SECRET_KEY=""
GameService_DEBUG=
GameService_DB_NAME=
GameService_DB_USER=
GameService_DB_PASSWORD=
GameService_DB_HOST=
GameService_DB_PORT=

AuthService_SECRET_KEY=""
AuthService_DEBUG=
INTRA_REDIRECT_URL=''
INTRA_UID=''
INTRA_SECRET=''
INTRA_API_URL=""
INTRA_CALLBACK_URL=""

BucketService_SECRET_KEY=""
BucketService_DEBUG=
BucketService_DB_NAME=
BucketService_DB_USER=
BucketService_DB_PASSWORD=
BucketService_DB_HOST=
BucketService_DB_PORT=

FriendService_SECRET_KEY=""
FriendService_DEBUG=
FriendService_DB_NAME=
FriendService_DB_USER=
FriendService_DB_PASSWORD=
FriendService_DB_HOST=
FriendService_DB_PORT=

GamePlayService_SECRET_KEY=""
GamePlayService_DEBUG=

MailService_SECRET_KEY=""
MailService_DEBUG=
MailService_EMAIL_HOST=
MailService_EMAIL_PORT=
MailService_EMAIL_USE_TLS=
MailService_EMAIL_HOST_USER=
MailService_EMAIL_HOST_PASSWORD=

StatusService_SECRET_KEY=""
StatusService_DEBUG=

UserManagement_SECRET_KEY=""
UserManagement_DEBUG=
UserManagement_DB_NAME=
UserManagement_DB_USER=
UserManagement_DB_PASSWORD=
UserManagement_DB_HOST=
UserManagement_DB_PORT=
